---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Homepage" description="Home page">
	<main>
		<h1>Hello, world!</h1>

		<p class="p-text float-class">Voids are my small project, currently working on bot and website page.</p>
		
		<!-- adding this ("https://raw.githubusercontent.com/YoruAkio/YoruAkio/main/joged.gif") gif image right after the p tag -->
		<img class="gif-image" src="https://raw.githubusercontent.com/YoruAkio/YoruAkio/main/joged.gif" alt="joged" width="200" height="200" />

		<ul>
			<a class="p-text" href="https://codeberg.org/Vo"><li>Codeberg</li></a>
			<a class="p-text" href="https://vo.is-a.dev"><li>Website</li></a>
		</ul>

	</main>
</Layout>	

<style>
	@font-face {
        font-family: "Victor Mono";
        src: url("assets/ttf/VictorMono-BoldItalic.ttf") format("truetype");
    }

	main {
		align-items: center;
		justify-content: center;
	}

	h1 {
		font-size: 4rem;
		font-weight: 900;
	}

	.p-text {
		font-family: "Victor Mono", system-ui, sans-serif;
		font-style: italic;
		font-weight: 900;
	}

	.float-class {
		float: left;
	}

	.gif-image {
		justify-content: center;
	}
</style>