---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Ourhome" description="Home page">
	<main>
		<h1>Hello, world!</h1>
		<h2>Dont be fvcked up</h2>
	</main>
</Layout>	

<style>
	main {
		align-items: center;
		display: flex;
		justify-content: center;
		min-height: 85vh;
	}
	h1 {
		font-size: 4rem;
		font-weight: 900;
	}
</style>